

body {
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/blackjack.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color:goldenrod;
    
}

#message-el{
    font-style: italic;
}

button{
    color:#016d32 ;
    font-weight: bold;
    width: 130px ;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px    ;
    margin-bottom: 5px;
    
}